html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
  display: block;
}

canvas {
  display: block;
}

#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  color: white;
}

#pause-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

#menu button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#interaction-message {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

#combination-lock-ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  color: white;
}

#combination-lock-display {
  background-color: #222;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  min-height: 3rem;
}

#combination-lock-keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

#combination-lock-keypad button {

  padding: 1rem;

  font-size: 1.5rem;

  cursor: pointer;

}



#crosshair {

  position: absolute;

  top: 50%;

  left: 50%;

  width: 4px;

  height: 4px;

  background-color: white;

  border-radius: 50%;

  transform: translate(-50%, -50%);

  pointer-events: none; /* So it doesn't interfere with mouse events */

}
